<configuration>
    <conversionRule conversionWord="levelColor" converterClass="com.nepxion.discovery.common.logback.LogbackLevelColor" />
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} %levelColor(%5p) %magenta(${PID:- }) --- [%15.15t] [%levelColor(%X{testcase-id})] %cyan(%-40.40logger{39}) : %msg%n</pattern>
        </encoder>
    </appender>

    <root level="INFO">
        <appender-ref ref="STDOUT" />
    </root>
</configuration>